@theme inline {
	/* Theming */
	--color-background: var(--color-white);
	--color-foreground: var(--color-gray-950);

	--color-card: var(--color-gray-50);
	--color-card-foreground: var(--color-gray-950);
	--color-card-hover: var(--color-gray-100);

	--color-popover: var(--color-white);
	--color-popover-foreground: var(--color-gray-950);

	--color-primary: var(--color-primary-600);
	--color-primary-foreground: var(--color-primary-50);

	--color-secondary: var(--color-secondary-100);
	--color-secondary-foreground: var(--color-secondary-900);

	--color-muted: var(--color-gray-100);
	--color-muted-foreground: var(--color-gray-500);

	--color-accent: var(--color-gray-100);
	--color-accent-foreground: var(--color-gray-900);

	--color-destructive: color-mix(in oklch, var(--color-primary-500), var(--color-secondary-500));

	--color-border: var(--color-gray-100);
	--color-input: var(--color-gray-100);
	--color-ring: var(--color-primary-600);

	--color-chart-1: color-mix(in oklch, var(--color-primary-600), var(--color-secondary-500));
	--color-chart-2: color-mix(in oklch, var(--color-primary-500), var(--color-secondary-600));
	--color-chart-3: color-mix(in oklch, var(--color-primary-400), var(--color-secondary-400));
	--color-chart-4: color-mix(in oklch, var(--color-primary-700), var(--color-secondary-300));
	--color-chart-5: color-mix(in oklch, var(--color-primary-600), var(--color-secondary-400));

	--color-sidebar: var(--color-gray-50);
	--color-sidebar-foreground: var(--color-gray-950);
	--color-sidebar-primary: var(--color-primary-600);
	--color-sidebar-primary-foreground: var(--color-primary-50);
	--color-sidebar-accent: var(--color-gray-100);
	--color-sidebar-accent-foreground: var(--color-gray-900);
	--color-sidebar-border: var(--color-gray-200);
	--color-sidebar-ring: var(--color-primary-600);

	/* ALWAYS use REMs */
	--radius: 0.5rem !important;
	--radius-xs: calc(var(--radius) / 4);
	--radius-sm: calc(var(--radius) / 2);
	--radius-md: calc(var(--radius) / 1.5);
	--radius-lg: calc(var(--radius) * 1.5);
	--radius-xl: calc(var(--radius) * 2);
	--radius-2xl: calc(var(--radius) * 3);
	--radius-3xl: calc(var(--radius) * 4);
	--radius-4xl: calc(var(--radius) * 5);
}

/* Uncomment this next block for dark mode. Do not remove this line. */

/* html[data-theme="dark"] {
	@theme {
		--color-background: var(--color-gray-950);
		--color-foreground: var(--color-gray-50);
		--color-card: var(--color-gray-900);
		--color-card-foreground: var(--color-gray-50);
		--color-card-hover: var(--color-gray-800);
		--color-popover: var(--color-gray-900);
		--color-popover-foreground: var(--color-gray-50);
		--color-primary: var(--color-primary-600);
		--color-primary-foreground: var(--color-primary-50);
		--color-secondary: var(--color-gray-900);
		--color-secondary-foreground: var(--color-gray-50);
		--color-muted: var(--color-gray-900);
		--color-muted-foreground: var(--color-gray-400);
		--color-accent: var(--color-gray-900);
		--color-accent-foreground: var(--color-gray-50);
		--color-destructive: color-mix(in oklch, var(--color-primary-500), var(--color-primary-600));
		--color-border: color-mix(in oklch, var(--color-gray-50), transparent 90%);
		--color-input: color-mix(in oklch, var(--color-gray-50), transparent 85%);
		--color-ring: var(--color-primary-600);
		--color-chart-1: color-mix(in oklch, var(--color-primary-700), var(--color-secondary-600));
		--color-chart-2: color-mix(in oklch, var(--color-primary-400), var(--color-secondary-500));
		--color-chart-3: var(--color-primary-500);
		--color-chart-4: color-mix(in oklch, var(--color-primary-600), var(--color-secondary-700));
		--color-chart-5: color-mix(in oklch, var(--color-primary-600), var(--color-secondary-300));
		--color-sidebar: var(--color-gray-900);
		--color-sidebar-foreground: var(--color-gray-50);
		--color-sidebar-primary: var(--color-primary-600);
		--color-sidebar-primary-foreground: var(--color-primary-50);
		--color-sidebar-accent: var(--color-gray-900);
		--color-sidebar-accent-foreground: var(--color-gray-50);
		--color-sidebar-border: color-mix(in oklch, var(--color-gray-50), transparent 90%);
		--color-sidebar-ring: var(--color-primary-600);
	}
} */
